/* we are on the grid : 960.gs */
@import '960.css';

/* reset default browser CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0; padding: 0 }
body { line-height: 1 }
blockquote { quotes: none }
blockquote:before, blockquote:after { content: ''; content: none }
del { text-decoration: line-through }
table { border-collapse: collapse }
a img { border: none }

/* =Fonts */
body, input, textarea, .pingback a.url { font-family: Arial, Helvetica, sans-serif }

/* =Layout */
body { background: #555 url(../images/bg.png) repeat-x 0 0 }
body.home { background-image: url(../images/bg-home.png) }
#fx { float: left; width: 100%; min-width: 1080px; background: url(../images/fx.jpg) no-repeat 50% 103px }
body.home #fx { background-image: url(../images/fx-home.jpg); }
#wrap { width: 1000px }
#page { float: left; padding: 0 20px }
#container { float: left; margin: 0 -20px; background: url(../images/shadow.png) repeat-y 0 0; padding: 0 20px 20px; position: relative }
body.blog #container { background-image: url(../images/shadb.png) }
#main { float:left; padding: 20px 0 0 }
body.home #main { padding-top: 0 }
body.wpsc #main div.page { padding: 0 }
body.blog .container_12 #main.grid_8 { padding: 6px 71px 0 23px; width:596px }

/* =Global Elements */

/* Main global 'theme' and typographic styles */
body, input, textarea { color: #333; font-size: 12px; line-height: 18px }
hr { background-color: #e7e7e7; border: 0; clear: both; height: 1px; margin-bottom: 18px }

/* Text elements */
h2 { font-size: 34px; line-height: 35px; margin: 0 0 10px; font-weight: normal }
h3 { font-size: 19px; font-weight: normal }
h4 { font-size: 16px }
h1, h3, h4, h5, h6 { line-height: 120%; margin: 0 0 2px }
p { margin-bottom: 18px }
ul { margin: 0 0 18px 1em }
ol ol { list-style: upper-alpha }
ol ol ol { list-style: lower-roman }
ol ol ol ol { list-style: lower-alpha }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0 }
dl { margin: 0 0 24px 0 }
dt { font-weight: bold }
dd { margin-bottom: 18px }
strong { font-weight: bold }
cite, em, i { font-style: italic }
big { font-size: 131.25% }
ins { background: #ffc; text-decoration: none }
blockquote { font-style: italic; padding: 0 3em }
blockquote cite, blockquote em, blockquote i { font-style: normal }
pre { background: #f7f7f7; color: #222; line-height: 18px; margin-bottom: 18px; padding: 1.5em }
abbr, acronym { border-bottom: 1px dotted #666; cursor: help }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline }
sup { bottom: 1ex }
sub { top: .5ex }
input[type="text"], input.text, textarea { background: #fff; border: 1px solid #ccc; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); padding: 2px }
input.text, textarea { width: 163px }
span.shipping_region_name, span.shipping_country_name { background: #fff; border: 1px solid #ccc; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); padding: 2px; float: left; height: 17px; margin-bottom: 10px; width: 163px; font-weight: normal; cursor: default; color: #666 }
.zip input.text {width:58px }
input.text.need { border-color: #f00 }
a { color: #333; text-decoration: none }
body.blog .entry a { color: #ec7d1b }
body.blog .entry a.more-link { color: #333; display: block }
a:hover, a.more-link, body.blog .entry-utility a { text-decoration: underline }
.screen-reader-text { position: absolute; left: -9000px }

/* hdr */
#hdr { float: left; height: 103px; position: relative }
#logo { float: left; margin: 9px 12px 0 2px; width: 150px; height: 80px; text-indent: -999em; background: url(../images/logo_progo.png) no-repeat 0 0 }
#slogan { float: left; margin: 45px 0 0; font-size: 16px; color: #515151 }
ul#nav { float:left; margin: 0; padding: 0 1px 0 0; list-style: none; position: absolute; bottom: 0; right: -14px; background: url(../images/navli.png) no-repeat 100% 100%; z-index: 5 }
ul#nav li { float: left; padding: 5px 0 0 1px; background: url(../images/navli.png) no-repeat 0 100% }
ul#nav li a { float: left; height: 27px; color: #4b4b4b; font-size: 13px; padding: 24px 23px 6px; font-weight: bold }
ul#nav li div.sub { display: none; position: absolute; top: 62px; right: -3px; width; 137px; padding: 0 0 15px; float: left; background: url(../images/nave.png) no-repeat 0 100% }
ul#nav li.over div.sub { display: block }
ul#nav ul { float: left; list-style: none; margin: 0; padding: 10px 14px; width: 109px; background: url(../images/navd.png) repeat-y 0 0 }
ul#nav li li { background: none; float: none; padding: 0; margin-bottom: 1px }
ul#nav li li a { float:none; height: auto; padding: 0; color: #000; font-weight: normal }
ul#nav li.current-menu-item a, body.wpsc ul#nav li.wpsc a, body.blog ul#nav li.blog a, ul#nav li a:hover, ul#nav li.over a.flink { background: url(../images/navon.png) repeat-x 0 100%; font-weight: bold; text-decoration: none; color: #000 }
ul#nav li.current-menu-item li a, ul#nav li li a:hover { background: none; font-weight: normal }
ul#nav li li a:hover { text-decoration: underline }
ul#nav li li.current-menu-item a { background: none; text-decoration: underline; font-weight: normal }

.hblock { position: absolute; top: 0; right: -33px; z-index: 7; display: block; width: 194px }
.hblock.social { top: 11px; right: 177px; z-index:5; width: auto }
.hblock.widget_wpsc_shopping_cart h3.title { display: block; width: 140px; height: 32px; margin: 0; background:url(../images/carttab.png) 0 0; position: absolute; top: 0; right: 0; font-size: 13px; font-weight: bold; padding: 14px 0 0 54px; z-index:7; cursor: pointer }
.cartcounter { font-size: 13px; font-weight: bold; }
.cartcounter em { font-weight: normal; font-style: normal }
#hdr .cartcollapse { position: absolute; z-index: 6; top: 0; right: -8px; display: block; width: 257px; padding: 45px 34px 0 35px; background:url(../images/cartrep.png) repeat-y 0 0 }
#hdr .cartcollapse .end { float:left; width: 326px; height: 20px; margin: 0 -34px -20px -35px; background: url(../images/cartdrop.png) no-repeat 0 0 }
#hdr .closecart { color: #c24c05; font-weight: bold; position: absolute; top: 15px; left: 36px; font-size: 13px }
#hdr .cartcounter { position: absolute; z-index: 10; left: 144px; top:15px; font-weight: normal }
#hdr .cartcounter em { display: none }
/* content */
#htop { float: left; width: 100%; height: 300px; text-align: center; color: #fff; position: relative }
#htop h1 { text-transform: uppercase; font-size: 98px; letter-spacing: -0.03em; font-weight: normal; margin: 25px 0 0 }
#htop h1 em { font-style: normal; text-transform: lowercase; font-size: 55px; letter-spacing: 0; position: relative; top: -63px }
#htop a { display: block; text-align: left; text-indent: -999em; width: 314px; height: 138px; position: absolute; left: 50%; bottom: 0; margin-left: -157px; z-index: 10; background: url(../images/hbtn.png) no-repeat 0 0 }

#pagetop { float: left; width: 100%; height: 155px; position: relative; color: #fff; margin: 0 -20px; padding: 0 20px; background:url(../images/shadt.png) no-repeat 0 100% }
body.home #pagetop { background: url(../images/hshad.jpg) no-repeat 0 0; padding: 0; width: 1000px; height: 473px }
#pagetop .page-title { float: left; width: 906px; margin: 3px 25px; font-size: 98px; line-height:120%; letter-spacing:-0.03em }
/* homepage slides */
#pagetop.sliding { overflow: hidden }
#pagetop .slide { display: none; float: left; width: 988px; height: 424px }
#pagetop .slide.s0 { background: url(../images/hslides/ecommerce.jpg) no-repeat 0 0 }
#pagetop .slide.s1 { background: url(../images/hslides/direct.jpg) no-repeat 0 0 }
#pagetop .slide.page-title { width: 906px } 
#pagetop .slide.on { display: block }
#pagetop.sliding .slide { display: block; position: absolute; top: 6px; left: 1000px }
#pagetop.sliding .slide.on { left: 6px }
#pagetop .slide a.product_image { float: left; width: 290px; height: 290px; padding: 7px 21px 8px 19px; margin: 13px 0 12px; background:url(../images/prodimg.png) no-repeat 0 0 }
#pagetop .product_form { position: absolute; right: 24px; bottom: 23px }
#pagetop .desc { position: absolute; top: 88px; right: 24px; display: block; width: 354px; font-size: 16px; line-height: 20px; color: #fff }
.slide .meter { position: absolute; top: 196px; left: 611px }
.meter strong { font-size: 18px; font-weight: normal; color: #5EE2FF }
.meter ul { list-style: none; margin: 5px 0 0; padding: 0; width: 267px }
.meter li { float: left; width: 267px; padding: 0 0 2px; background: url(../images/meterd.gif) repeat-x 0 100%; font-weight: bold }
.meter span { float: left }
.meter span.stars { float: right }
.meter span.stars span { width: 13px; height: 11px; background: url(../images/stars.png) no-repeat 0 0; margin: 4px 0 0 2px }
.meter span.stars span.on { background-position: 0 -11px; text-indent:-999em }
.meter.p52 strong { color: #E2FE3F }
.meter.p52 span.stars span.on { background-position: 0 -22px }

.ar { float: left; display: block; width: 965px; height: 38px; position: absolute; bottom: 2px; left: 17px }
.ar a { float: left }
.ar a.r { width: 38px; height: 38px; background: url(../images/ar.jpg) no-repeat 0 0 }
.ar a.r.n { float: right; background-position: 100% 0 }
.ar a.s { color: #fff; font-size: 16px; margin: 8px 0 0 41px; text-transform: uppercase }
.ar a.s .on, .ar a.s.on .off { display: none }
.ar a.s:hover { text-decoration: none }
.ar a.s.on .on { display: block; color: #5EE2FF }
.ar a.s.s1-52 .on { color: #e2fe3f }

#main { font-size: 13px }
#main input, #main textarea { color: #333; font-size: 13px; line-height: 120% }
#main input.upd { border: none; background: none; padding: 0; cursor:pointer }
#main p, #main ul, #main ol, #main dd, #main pre, #main hr { margin-bottom: 18px }
#main ul ul, #main ol ol, #main ul ol, #main ol ul { margin-bottom: 0 }
#main pre, #main kbd, #main tt, #main var { font-size: 15px; line-height: 21px }
#main code { font-size: 13px }
#main dt, #main th { color: #000 }

body.blog #main .post { float: left; width: 596px; margin-bottom: 30px }
.entry-title a { color: #333 }
.entry-meta { font-size: 12px }
.entry-meta abbr, .entry-utility abbr { border: none }
.entry-meta abbr:hover, .entry-utility abbr:hover { border-bottom: 1px dotted #666 }
body.blog #main .entry { margin: 17px 0 0 }
.entry sup, .entry sub { font-size: 10px }
.entry blockquote.left { float: left; margin-left: 0; margin-right: 24px; text-align: right; width: 33% }
.entry blockquote.right { float: right; margin-left: 24px; margin-right: 0; text-align: left; width: 33% }
.page-link { color: #000; font-weight: bold; margin: 0 0 22px 0; word-spacing: 0.5em }
.page-link a:link, .page-link a:visited { background: #f1f1f1; color: #333; font-weight: normal; padding: 0.5em 0.75em; text-decoration: none }
.page-link a:active, .page-link a:hover { color: #ff4b33 }
body.page .edit-link { clear: both; display: block }
#entry-author-info { background: #f2f7fc; border-top: 4px solid #000; clear: both; font-size: 14px; line-height: 20px; margin: 24px 0; overflow: hidden; padding: 18px 20px }
#entry-author-info #author-avatar { background: #fff; border: 1px solid #e7e7e7; float: left; height: 60px; margin: 0 -104px 0 0; padding: 11px }
#entry-author-info #author-description { float: left; margin: 0 0 0 104px }
#entry-author-info h2 { color: #000; font-size: 100%; font-weight: bold; margin-bottom: 0 }
.entry-utility { float: left; width: 596px; font-size: 12px; padding: 10px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc }
.entry-utility .in { float: left }
.entry-utility .sha { float: right }
#main .video-player { padding: 0 }
/* comments */
#comments, #respond, #comments-title, #main ol.commentlist { float: left; margin: 0; padding: 0; width: 100% }
#respond { margin: 0 0 30px }
#comments input.text { width: 286px }
#comments textarea { width: 586px }
.commentlist, .commentlist ul { list-style: none }
.commentlist li { margin-bottom: 28px }
.comment-meta { float: left; width: 100%; height: 30px; background: url(../images/comment.png) repeat-x 0 0; border: solid #eaeaea; border-width: 0 1px; margin: 0 0 14px }
.comment-meta .vcard { float: left; font-size: 13px; font-weight: bold; margin: 7px 10px 0 }
.comment-meta .meta { float: right; font-size: 11px; margin: 8px 10px 0 }
.commentlist ul { padding: 28px 0 0 57px }
img.avatar { float: left; margin: 0 10px 10px 0 }
/* images */
#main .attachment img { max-width: 900px }
#main .alignleft, #main img.alignleft { display: inline; float: left; margin-right: 24px; margin-top: 4px; margin-bottom: 20px }
#main .alignright, #main img.alignright { display: inline; float: right; margin-left: 24px; margin-top: 4px }
#main .aligncenter, #main img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto }
#main img.alignleft, #main img.alignright, #main img.aligncenter { margin-bottom: 12px }
#main .wp-caption { background: #f1f1f1; margin-bottom: 20px; padding: 4px; text-align: center }
#main .wp-caption img { margin: 5px 5px 0 }
#main .wp-caption p.wp-caption-text { color: #888; font-size: 12px; margin: 5px }
#main .wp-smiley { margin: 0 }
#main .attachment img { /* single attachment images should be centered */ display: block; margin: 0 auto }
#main img.fullwidth { margin: 0 -24px }

#main h2.banner { margin: -36px -42px 11px; width: 960px; height: 141px; text-align: center; color: #fff; padding: 40px 32px 0; background:url(../images/banner.png) no-repeat 0 0; font-size: 49px; line-height: 45px }
.twoposts .post { position: relative }
.twoposts img.thm { float: left; margin-right: 12px }
.twoposts .alpha img.thm { margin-left: -10px; position: relative }
.twoposts h3 { line-height: 22px; margin: 2px 0 10px; max-height: 45px; overflow: hidden }
#main .twoposts p { padding-right: 15px }
.twoposts a.more-link { float: left; width: 101px; height: 26px; padding: 4px 0 0; color: #fff; font-weight: bold; text-align: center; background: url(../images/readmore.png) no-repeat 0 0; position: absolute; bottom: 0; right: 117px; text-decoration: none }
.twoposts .alpha a.more-link { right: 127px }
/* sidebars */
#secondary { float: left; width: 100%; padding: 20px 0 0 }
body.wpsc #main, body.wpsc #secondary { padding-top: 10px }
.block { float: left; width: 99%; border: 1px solid #ccc; margin: 0 0 9px }
.block h3.title { float: left; width: 100%; padding: 8px 0; margin: 0; font: 19px/23px Arial, Helvetica, sans-serif; color: #3c3c3c; background: url(../images/h3b.gif) repeat-x 0 100% }
.block h3.title .spacer { float: left; margin: 0 18px }
.block .inside { float: left; width: 85%; padding: 11px 0 12px 18px; font-size:13px; line-height:18px }
.block ul { margin: 0; padding: 0; list-style: none }
.block ul li { margin-bottom: 3px }
.block.secure .inside .support { font-size: 16px; color: #000; position: relative; top: 5px }
.block.secure .inside .support a { text-decoration: none; color: #000 }
.block.secure .inside .support a:hover { text-decoration: underline }
.block.test .inside { position: relative }
.block.test .inside .lq { position: absolute; top: 20px; left: 19px }
.block.test .inside .by { font-size: 12px; line-height:16px; font-style:italic }
.block.share .FBConnectButton_Simple { float: left; width: 30px; height: 30px; background: url(../images/share.gif) no-repeat 0 0 }
.block.share a { float: left; width: 30px; height: 30px; margin-right: 10px }
.block.share a.twitter { background: url(../images/share.gif) no-repeat -30px 0; text-indent:-999em }
.block.share .st_sharethis_custom, .block.share .st_sharethis { float: left; width: 30px; height: 30px; margin-right: 10px; background: url(../images/share.gif) no-repeat -60px 0; cursor: pointer }
.block.share .st_sharethis .chicklets, #secondary .closecart { display: none }
.block.twitter a.tw { float: left; padding-left: 30px; line-height:21px; background: url(../images/twitter.jpg) no-repeat 0 0 }
.block.fblike .inside { padding: 14px 0 5px 5px }

body.blog .block { width: 100%; border: none; margin: 0 0 30px }
body.blog .block h3.title { padding: 0; color: #333; background: none }
body.blog .block h3.title .spacer { float: left; margin: 0 }
body.blog .block .inside { width: 100%; padding-left: 0 }

/* wpsc */
body.single-wpsc-product .container_12 #main.grid_8 { width: 940px }
body.single-wpsc-product .container_12 .grid_4 { display: none }
body.single-wpsc-product .container_12 .single_product_display.group .grid_4 { display: block }

/* footer */
/* optional callout */
#main .theend { float: left; width: 947px; background: url(../images/theend.jpg) no-repeat 0 100%; margin: 30px 0 -35px -24px; padding: 0 0 0 41px; color: #fff; font-weight: bold }
#main .theend img.alignright { margin: 0 }
#main .theend h2 { font-size: 40px; line-height: 45px; letter-spacing: -0.03em }
#main .theend p { margin-bottom: 26px }
/* actual shadow */
#theend { float: left; width: 1000px; height: 46px; margin: 0 -20px; background: url(../images/end.png) no-repeat 0 0 }
#fwrap { float: left; width: 100%; min-width: 1080px; background: #fff; padding: 25px 0 }
.fblock { float: left; width: 50% }
.fblock .title { float: left }
.fblock.widget_nav_menu li { margin-right: 40px }
.social .title { display: none }
.social ul, .social ul li { float: left; margin: 0; padding: 0; list-style: none }
.social li a { float: left; width: 23px; height: 22px; margin: 0 0 0 4px; text-indent:-999em; text-align: left; background:url(../images/social.jpg) no-repeat 0 0 }
.social li.tw a { background-position: -23px 0 }
.social li.rss a { background-position: -46px 0 }
#ftr, #ftr a { color: #333 }
#ftr ul { float: left; margin: 0; padding: 0; list-style: none }
#ftr ul li { float: left; margin: 0; padding: 0; list-style: none }
#ftr .grid_8 { position: relative; left: 15px }
#ftr .right { text-align: right; margin-top: 5px }
#ftr .right img { float: right; margin: -5px 7px 0 5px }

/* other */
*:focus { outline: none }